<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>avastove</title>
    {% include 'others/header_static.html' %}
    {% include 'others/favicon.html' %}
    {% include 'others/header_metas.html' %}
    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/a_selected.js' %}"></script>
    <script src="{% static 'js/nav_badge.js' %}"></script>
    <script src="{% static 'js/create_new.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">
    <script src="{% static 'cropper/cropper.min.js' %}"></script>

</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}

{% include 'others/bootstrap_tester.html' %}

<div class="hidden" id="page_kind" data-u="create_new"></div>
<div class="hidden" id="last_num" data-u=""></div>

{% if user.is_authenticated %}
    <div class="hidden" id="num" data-u="{{ user.username }}"></div>
{% endif %}

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">

                <div class="row div_base">
                    <div align="center"><span class="new_post_heading">New Post</span></div>
                    <br>
                    <div align="center"><span class="open_or_close">Whose Profile?</span></div>
                    <br>
                    <div class="col-xs-6">
                        <div align="center"><a href="">
                            <div class="clickable padding_5 main_background_color choice_selected" id="your_profile">
                                Your Profile
                            </div>
                        </a></div>
                    </div>
                    <div class="col-xs-6">
                        <div align="center"><a href="">
                            <div class="clickable padding_5 main_background_color choice_unselected" id="other_profile">
                                Other Profile
                            </div>
                        </a></div>
                    </div>
                    <div class="hidden" id="name_fill">
                        <br><br><br><br>
                        <div align="center"><span class="open_or_close">Profile's name?</span></div>
                        <div align="center"><span class="h5" id="name_clue">name that is to be displayed</span></div>
                        <div class="col-xs-12 padding_top_5">
                            <div class="input-group-lg">
                                <input class="width_100_i" id="input_name" placeholder="name input" type="text">
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>

                    <div align="center"><span class="open_or_close">Title?</span></div>
                    <br>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_selected" id="title_not" align="center">need not
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_unselected" id="title_add" align="center">add</div>
                        </a>
                    </div>
                    <div class="hidden" id="title_fill">
                        <br><br><br><br>
                        <div align="center"><span class="open_or_close" id="title_clue">Fill your title</span></div>
                        <div class="col-xs-12 padding_top_5">
                            <div class="input-group-lg">
                                <input class="width_100_i" id="input_title" placeholder="title input" type="text">
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div align="center"><span class="open_or_close">Description?</span></div>
                    <br>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_selected" id="desc_not" align="center">need not</div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_unselected" id="desc_add" align="center">add</div>
                        </a>
                    </div>
                    <div class="hidden" id="desc_fill">
                        <br><br><br><br>
                        <div align="center"><span class="open_or_close" id="desc_clue">Fill your description</span>
                        </div>
                        <div class="col-xs-12 padding_top_5">
                            <div class="input-group-lg">
                                <textarea class="width_100_i create_description_textarea" id="input_desc"
                                          placeholder="description input" style=""></textarea>
                            </div>
                        </div>

                    </div>
                    <br>
                    <br>
                    <br>
                    <div align="center"><span class="open_or_close">open or close</span></div>

                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_selected" id="open_close_open" align="center">open
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_unselected" id="open_close_close" align="center">
                                close
                            </div>
                        </a>
                    </div>

                    <br>
                    <br>
                    <form method="post" action="." onsubmit="return create_set();">
                        {% csrf_token %}
                        <div class="form-group hidden">
                            {{ form.whose }}
                        </div>
                        <div class="form-group hidden">
                            {{ form.name }}
                        </div>
                        <div class="form-group hidden">
                            {{ form.title }}
                        </div>
                        <div class="form-group hidden">
                            {{ form.open_close }}
                        </div>
                        <div class="form-group hidden">
                            {{ form.title_content }}
                        </div>
                        <div class="form-group hidden">
                            {{ form.description }}
                        </div>
                        <div class="form-group hidden">
                            {{ form.description_content }}
                        </div>
                        <div class="col-xs-12">
                            <div align="center">
                                <button type="submit" class="btn btn-default main_background_color write_new_post"
                                        id="create">Create
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <!--ajax는 ajax고 websocket은 websocket 이다. 둘을 분리한다. 구버전 브라우저는 포기해 일단 채팅과 알림만 websocket 쓴다.-->

            </div>
        </div>
    </div>
</div>
<!-- MODAL TO CROP THE IMAGE -->
<div class="modal fade" id="modal_add" data-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Add Chat</h4>
            </div>
            <div class="modal-body padding_0">
                <img src="" id="img_crop" class="max_width_100p">
            </div>
            <div class="modal-footer">
                <div class="btn-group pull-left" role="group">
                    <button type="button" class="btn btn-default js-zoom-in">
                        <span class="glyphicon glyphicon-zoom-in"></span>
                    </button>
                    <button type="button" class="btn btn-default js-zoom-out">
                        <span class="glyphicon glyphicon-zoom-out"></span>
                    </button>
                </div>
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary js-crop-and-upload">Save</button>
            </div>
        </div>
    </div>
</div>


</body>


<script>


</script>
</html>