<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>avastove</title>
    {% include 'others/header_static.html' %}
    {% include 'others/header_metas.html' %}
    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.min.js' %}"></script>
    <script src="{% static 'js/a_selected.min.js' %}"></script>
    <script src="{% static 'js/create_new.min.js' %}"></script>

    <link rel="stylesheet" href="{% static 'cropper/cropper.min.css' %}">
    <script src="{% static 'cropper/cropper.min.js' %}"></script>

</head>
<body class="light_background_color height_100">
{% include 'baseapp/_navbar.html' %}


<div class="hidden" id="page_kind" data-u="create_new"></div>
<div class="hidden" id="last_num" data-u=""></div>

{% if user.is_authenticated %}
    <div class="hidden" id="num" data-u="{{ user.username }}"></div>
{% endif %}

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">

                <div class="row div_base">
                    <div align="center"><span class="new_post_heading">New Post</span></div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div align="center"><span class="open_or_close">open or close</span></div>

                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_selected" id="open_close_open" align="center">open
                            </div>
                        </a>
                    </div>
                    <div class="col-xs-6">
                        <a href="">
                            <div class="clickable padding_5 choice_unselected" id="open_close_close" align="center">
                                close
                            </div>
                        </a>
                    </div>

                    <br>
                    <br>
                    <form method="post" action="." onsubmit="return create_set();">
                        {% csrf_token %}
                        <div class="form-group hidden">
                            {{ form.open_close }}
                        </div>
                        <div class="col-xs-12">
                            <div align="center">
                                <button type="submit" class="btn btn-default main_background_color write_new_post"
                                        id="create">Create
                                </button>
                            </div>
                        </div>
                    </form>
                </div>

            </div>
        </div>
    </div>
</div>
</body>

</html>