<!DOCTYPE html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <title>avastove {{ chosen_user.userusername.username }}</title>
    {% include 'others/header_static.html' %}
    <meta name="keywords" content="avastove, chat, messages, dialog, chatting, {{ chosen_user.userusername.username }}"/>
    <meta name="author" content="{{ chosen_user.userusername.username }}"/>
    <meta name="title" content="avastove {{ chosen_user.userusername.username }}"/>
    <meta name="description" content="make your chat"/>

    <meta property="og:url" content="https://www.avastove.com{{ request.get_full_path }}"/>
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="avastove {{ chosen_user.userusername.username }}"/>
    <meta property="og:site_name" content="avastove"/>
    <meta property="og:description" content="make your chat"/>

    <meta property="og:image" content="{{ chosen_user.userphoto.file_300_url }}"/>

    <meta name="twitter:image" content="{{ chosen_user.userphoto.file_300_url }}">

    <meta name="twitter:card" content="summary"/>
    <meta name="twitter:site" content="@avastove"/>
    <meta name="twitter:creator" content="@{{ chosen_user.userusername.username }}">
    {% load static from staticfiles %}
    <script src="{% static 'js/navbar.min.js' %}"></script>
    <script src="{% static 'js/a_selected.min.js' %}"></script>
    <script src="{% static 'js/date_differ.min.js' %}"></script>
    <script src="{% static 'js/profile.min.js' %}"></script>
    <script src="{% static 'js/profile_populate.min.js' %}"></script>
    <script src="{% static 'js/modal_resize.min.js' %}"></script>
    <script src="{% static 'js/modal_feed_menu.min.js' %}"></script>
    <script src="{% static 'js/modal_opens.min.js' %}"></script>
    <script src="{% static 'js/modal_profile_reading.min.js' %}"></script>

</head>
<body class="light_background_color height_100">
<!--navbar start-->
{% include 'baseapp/_navbar.html' %}
<div class="hidden" id="page_kind">user</div>

<div class="hidden" id="chosen_user_id">{{ chosen_user.username }}</div>
<div class="hidden" id="next_id"></div>
<div class="hidden" id="last_post_id"></div>
<div class="hidden" id="post_to_delete"></div>

<div class="hidden" id="post_last_id"></div>

<div class="hidden" id="clicked_post_id"></div>

<div class="hidden" id="reading_post_id"></div>
<div class="hidden" id="reading_post_profile_photo"></div>
<div class="hidden" id="reading_post_user_id"></div>
<div class="hidden" id="reading_post_profile_name"></div>
<div class="hidden" id="reading_post_chat_last_id"></div>
<div class="hidden" id="reading_post_chat_before_id"></div>
<div class="hidden" id="reading_post_chat_next_id"></div>
<div class="hidden" id="post_liking_next_id"></div>
<div class="hidden" id="post_follow_next_id"></div>
<div class="hidden" id="post_chat_liking_next_id"></div>
<div class="hidden" id="post_chat_rest_liking_next_id"></div>
<div class="hidden" id="clicked_post_chat_id"></div>
<div class="hidden" id="clicked_post_chat_rest_id"></div>
{% if user.is_authenticated %}
    <div class="hidden" id="user_id">{{ user.username }}</div>
{% else %}
    <div class="hidden" id="user_id"></div>
{% endif %}
<!--page info end -->

<div class="container-fluid margin_top_50">
    <div class="row">
        <div class="col-xs-12 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4">
            <div class="row" id="content">
                <div class="row div_base" id="chat_base">
                    <div align="center">
                        <img class="img_300_300" id="img_300"
                             src="{{ chosen_user.userphoto.file_300_url }}">
                    </div>

                    <div class="margin_top_20" align="center"><span
                            class="user_name">{{ chosen_user.usertextname.name }}</span></div>
                    <div class="margin_top_20" align="center"><span
                            class="user_username">{{ chosen_user.userusername.username }}</span></div>

                    <div class="row margin_top_20">
                        <div class="col-xs-6" align="right"><span class="user_fellowship_title">following: </span><a
                                href="#"><span
                                class="user_fellowship_count"
                                id="count_following">{{ chosen_user.followingcount.count }}</span></a></div>
                        <div class="col-xs-6" align="left"><span class="user_fellowship_title">follower: </span><a
                                href="#"><span
                                class="user_fellowship_count"
                                id="count_follower">{{ chosen_user.followercount.count }}</span></a></div>
                    </div>
                    {% if following == None %}
                        <a href="">
                            <div class="margin_top_20 light_background_color hidden" align="center" id="follow">
                                <span class="user_change_profile clickable" id="follow_text">follow</span>
                            </div>
                        </a>

                    {% else %}
                        <a href="">
                            <div class="margin_top_20 light_background_color hidden" align="center" id="follow">
                                <span class="user_change_profile clickable" id="follow_text">following <span
                                        class="glyphicon glyphicon-ok"></span></span>
                            </div>
                        </a>

                    {% endif %}


                </div>
                <div id="post_list"></div>
                <a href="">
                    <div class="hidden clickable more_load" align="center"
                         id="profile_more_load">
                        more load
                    </div>
                </a>

        </div>
    </div>
</div>
</div>
<div class="modal fade" id="modal_following">
    <div class="modal-dialog modal-dialog_menu">
        <div class="modal-content modal-content_menu">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal_follow_wrapper" id="modal_following_wrapper">
                <div align="center">following</div>
                <div id="modal_following_list">

                </div>
                <a href="">
                    <div class="hidden clickable more_load" align="center" id="modal_following_more">more</div>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="modal_follower">
    <div class="modal-dialog modal-dialog_menu">
        <div class="modal-content modal-content_menu">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body modal_follow_wrapper" id="modal_follower_wrapper">
                <div align="center">followers</div>
                <div id="modal_follower_list">

                </div>
                <a href="">
                    <div class="hidden clickable more_load" align="center" id="modal_follower_more">more</div>
                </a>
            </div>
        </div>
    </div>
</div>
{% include 'baseapp/_modal_need_login.html' %}
{% include 'baseapp/_modal_reading.html' %}
{% include 'baseapp/_modal_post.html' %}
{% include 'baseapp/_modal_post_delete.html' %}
<!-- Hidden 으로 데이터 저장해놓고 modal on show 랑 hide 에서 그 데이터 불러와서 모달 채우게 하자. 그리고 임플린은 친구 중심이고
피드가 존재하게 되었기 때문에 팔로우가 부가적으로 존재하는 것 뿐이다. -->


</body>
</html>