<meta name="keywords" content="avastove, chat, messages, dialog, chatting"/>
<meta name="author" content="avastove"/>
<meta name="title" content="avastove"/>
<meta name="description" content="make your chat"/>

<meta property="og:url" content="https://www.avastove.com{{ request.get_full_path }}"/>
<meta property="og:type" content="article"/>
<meta property="og:title" content="avastove"/>
<meta property="og:site_name" content="avastove"/>
<meta property="og:description" content="make your chat"/>

<meta property="og:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png"/>

<meta name="twitter:image" content="https://d3m4mlntjbzekh.cloudfront.net/etc/image-sajufortune.png">

<meta name="twitter:card" content="summary"/>
<meta name="twitter:site" content="@avastove"/>
<meta name="twitter:creator" content="@avastove">